@model Gradebook.Web.Areas.Teacher.ViewModels.InputModels.GradeModifyInputModel
@{
    ViewData["Title"] = "Delete Grade";
}

<h3 class="page-heading">Delete grade</h3>
<form asp-action="DeleteGrade" method="post">
    <div>
        <label asp-for="Grade.Value">Grade: </label>
        <input asp-for="Grade.Value" class="form-control"/>
        <span asp-validation-for="Grade.Value" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Grade.Period"></label>
        <input asp-for="Grade.Period" class="form-control" readonly/>
        <span asp-validation-for="Grade.Period" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Grade.Type"></label>
        <input asp-for="Grade.Type" class="form-control" readonly/>
        <span asp-validation-for="Grade.Type" class="text-danger"></span>
    </div>

    <hr/>
    <div class="center-group">
        <input type="submit" name="onSubmitAction" class="btn btn-light" value="Cancel"/>
        <input type="submit" name="onSubmitAction" class="btn btn-primary delete-record-btn" value="Delete Grade" onclick="return confirm(`Are you sure you want to delete that grade?`)"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}